<header class="header">
  <ng-container *ngFor="let action of leftActions">
    <ng-container *ngTemplateOutlet="action.action.smallIconButton"></ng-container>
  </ng-container>
  <div class="title">
    <ng-container *ngIf="label">
      <ng-container *ngTemplateOutlet="label.template"></ng-container>
    </ng-container>
  </div>
  <ng-container *ngFor="let action of rightActions">
    <ng-container *ngTemplateOutlet="action.action.smallIconButton"></ng-container>
  </ng-container>
</header>
<div *ngIf="toolbarActions.length" class="toolbar">
  <ng-container *ngFor="let action of toolbarActions">
    <ng-container *ngTemplateOutlet="action.action.smallIconButton"></ng-container>
  </ng-container>
</div>
