@import 'src/styles/colors';
@import 'src/styles/buttons';

:host {
  display: block;
}

.note-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.note-section {
  padding: 0.5rem;
  width: calc(100% - 2.25rem);
}

.is-editing {
  border: 0.125rem solid $card-border;
}

.edit-button {
  @include button-icon(3rem, 3rem);
}
