<lxs-split-panels>
  <ng-container side>
    <lxs-maps-list *ngIf="state.view === 'list'"
      [activeEntryId]="state.mapEntry?.id"
      (selectedActiveEntry)="onSelectedSameMapEntry()"
    ></lxs-maps-list>
    <lxs-map-panel *ngIf="state.view === 'map'"
      [mapEntry]="state.mapEntry"
      [mapData]="state.mapData"
      (clickBack)="onBackFromMap()"
    ></lxs-map-panel>
    <lxs-map-tile-panel *ngIf="state.view === 'tile'"
      [mapEntry]="state.mapEntry"
      [mapData]="state.mapData"
      [tileId]="state.tileId"
      (clickBack)="onBackFromTile()"
    ></lxs-map-tile-panel>
  </ng-container>

  <lxs-maps-help *ngIf="state.state === 'list'"></lxs-maps-help>
  <lxs-map-display *ngIf="state.state === 'map'"
    [mapEntry]="state.mapEntry"
    [mapData]="state.mapData"
  ></lxs-map-display>
</lxs-split-panels>
