<lxs-split-panels>
  <ng-container side>
    <lxs-maps-list *ngIf="state.state === 'list'"></lxs-maps-list>
    <lxs-map-panel *ngIf="state.state === 'map'"
      [mapEntry]="state.mapEntry"
      [mapData]="state.mapData"
      (clickAdd)="onAdd($event)"
      (clickRemove)="onRemove($event)"
    ></lxs-map-panel>
  </ng-container>

  <lxs-maps-help *ngIf="state.state === 'list'"></lxs-maps-help>
  <lxs-map-display *ngIf="state.state === 'map'"
    [mapEntry]="state.mapEntry"
    [mapData]="state.mapData"
  ></lxs-map-display>
</lxs-split-panels>
