<header>
  <div class="bar">
    <div class="bar-title">
      Dungeon Tools
    </div>
    <div class="bar-spacer"></div>
    <div class="bar-button" (click)="clickDice.emit()">
      Dice
    </div>
    <div class="bar-button" (click)="clickSettings.emit()">
      Settings
    </div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <!-- <li><a routerLink="characters" routerLinkActive="active">Characters</a></li> -->
      <li><a routerLink="maps" routerLinkActive="active">Maps</a></li>
      <li><a routerLink="notes" routerLinkActive="active">Notes</a></li>
    </ul>
  </nav>
</header>
