@import 'src/styles/colors';

@mixin button-text {
  padding: 1rem;
  user-select: none;
  color: $text;

  &:hover {
    cursor: pointer;
    color: $text-light;
  }
}

@mixin button-text-destructive {
  @include button-text();
  color: $text-red;
}

@mixin button-submit {
  @include button-text();
  margin: 1rem;
  background-color: $button-submit-background;
  color: $button-submit-primary;

  &:hover {
    color: $button-submit-primary-highlight;
  }

  &:active {
    background-color: $button-submit-selected;
  }
}

@mixin button-icon($width, $height) {
  // Until we find a better way of recoloring static icons, create filters here: https://codepen.io/sosuke/pen/Pjoqqp
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  line-height: $height;
  user-select: none;

  > mat-icon {
    width: $width/2;
    height: $height/2;
    line-height: $height/2;
    color: $text;
  }

  &:hover {
    cursor: pointer;

    > mat-icon {
      color: $text-light;
    }
  }
}
