@import 'src/styles/colors';

@mixin button-submit {
  margin: 1rem;
  padding: 1rem;
  background-color: $button-submit-background;
  color: $button-submit-primary;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $button-submit-selected;
  }
}
