$background: #ddd;
$card: #f7f7f7;
$card-border: #777;
$card-highlight: #d7d7d7;
$card-shadow: #111;

$text: #333;
$text-green: #0a0;
$text-red: #b00;

$bar-background: #222;
$bar-primary: #f2f2f2;
$bar-primary-highlight: #aaa;

$button-submit-background: #67a;
$button-submit-selected: $card-highlight;
$button-submit-primary: $bar-primary;

$overlay: rgba(0,0,0,0.3);
