<div class="page">
  <lxs-app-header (clickDice)="onClickDice()" (clickSettings)="onClickSettings()"></lxs-app-header>
  <div class="main" (click)="onSideClose()">
    <router-outlet></router-outlet>
  </div>
  <footer (click)="onSideClose()">
    <div class="footer">
      Learn more about Dungeon Tools <a routerLink="about">here</a>
      |
      © 2023 level23archbard
    </div>
  </footer>
  <div @showSideTrigger *ngIf="showSide" class="side">
    <ng-container [ngSwitch]="showSide">
      <lxs-dice *ngSwitchCase="'DICE'" (closeEvent)="onSideClose()"></lxs-dice>
      <lxs-settings *ngSwitchCase="'SETTINGS'" (closeEvent)="onSideClose()"></lxs-settings>
    </ng-container>
  </div>
</div>
