@use 'src/styles/colors' as *;
@use 'src/styles/buttons' as *;

.page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;
  background-color: $background;

  & ::ng-deep > *:not(router-outlet) {
    flex: 1;
    display: flex;
  }
}

.footer {
  padding: 0.5rem;
  color: $text-light;

  a {
    color: $text-light;
  }
}

.side {
  position: fixed;
  right: 0;
  width: 24rem;
  height: 100%;
  box-shadow: 0 0rem 0.5rem 0.5rem $overlay-shadow;
}
