@import 'src/styles/colors';

.page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.bar {
  display: flex;
  flex-flow: row;
  background-color: $bar-background;
  color: $bar-primary;

  &-title {
    padding: 1rem;
    text-transform: uppercase;
  }

  &-spacer {
    flex: 1;
  }

  &-button {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;

    &:active {
      color: $bar-primary-highlight;
    }
  }
}

.nav-bar {
  background-color: $bar-background;
  color: $bar-primary;

  & ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & li a {
    display: block;
    padding: 0.75rem 1rem;
    color: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;

    &:hover {
      color: $bar-primary-highlight;
    }
  }
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;
  background-color: $background;

  & ::ng-deep > *:not(router-outlet) {
    flex: 1;
  }
}

.side {
  position: fixed;
  right: 0;
  width: 24rem;
  height: 100%;
  box-shadow: 0 0rem 0.5rem 0.5rem $overlay-shadow;
}

.welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $overlay;
}
