<div class="page">
  <header>
    <div class="bar">
      <div class="bar-title">
        Dungeon Tools
      </div>
      <div class="bar-spacer"></div>
      <div class="bar-button" (click)="onClickDice()">
        Dice
      </div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="characters">Characters</a></li>
        <li><a routerLink="notes">Notes</a></li>
      </ul>
    </nav>
  </header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div @showSideTrigger *ngIf="showSide" class="side">
    <lxs-dice (closeEvent)="onDiceClose()"></lxs-dice>
  </div>
  <div @showWelcomeTrigger *ngIf="showWelcome" class="welcome">
    <lxs-welcome></lxs-welcome>
  </div>
</div>
