@import 'src/styles/card';
@import 'src/styles/buttons';

:host {
  display: flex;

  > * {
    flex: 1;
  }
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  & h1 {
    flex: 1;
    margin: 0;
  }

  & label {
    flex: 1;
  }

  &-button {
    @include button-icon(3rem, 3rem);

    > img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.note-body {
  @include card();
  margin: 1rem 0 0;
}
