<lxs-split-panels>
  <lxs-notes-list side [activeNoteEntryId]="activeNoteEntryId"></lxs-notes-list>

  <ng-container *ngIf="activeNoteEntryId; else noNotes">
    <div class="header">
      <ng-container *ngIf="isRenaming; else notRenaming">
        <label>
          Rename:
          <input type="text" [formControl]="renamingControl" />
        </label>
        <lxs-action icon="close" label="Cancel" (action)="onClickRenameCancel()"></lxs-action>
        <lxs-action icon="check" label="Confirm" (action)="onClickRenameSave()"></lxs-action>
      </ng-container>
      <ng-template #notRenaming>
        <h1>{{ activeNoteEntryName }}</h1>
        <lxs-action icon="exit" label="Move Note" (action)="moveNoteSubject.next()"></lxs-action>
        <lxs-action icon="quill" label="Rename Note" (action)="onClickRename()"></lxs-action>
        <lxs-action icon="delete" label="Delete Note" (action)="deleteNoteSubject.next()"></lxs-action>
      </ng-template>
    </div>
    <div class="note-body">
      <lxs-note-editor [id]="activeNoteEntryId"></lxs-note-editor>
    </div>
  </ng-container>

  <ng-template #noNotes>
    <lxs-notes-help></lxs-notes-help>
  </ng-template>
</lxs-split-panels>
