<lxs-split-panels>
  <lxs-side-listing side
   label="Notes"
   [entries]="noteEntries"
   [selectedEntryId]="activeNoteEntryId"
   (addEvent)="onClickAddNoteEntry()"
   (selectEvent)="onClickNoteEntry($event)"
  ></lxs-side-listing>

  <div class="header">
    <ng-container *ngIf="isRenaming; else notRenaming">
      <label>
        Rename:
        <input type="text" [formControl]="renamingControl" />
      </label>
      <div class="header-button" (click)="onClickRenameCancel()">
        <mat-icon svgIcon="close"></mat-icon>
      </div>
      <div class="header-button" (click)="onClickRenameSave()">
        <mat-icon svgIcon="check"></mat-icon>
      </div>
    </ng-container>
    <ng-template #notRenaming>
      <h1>{{ activeNoteEntryName }}</h1>
      <div class="header-button" (click)="onClickRename()">
        <mat-icon svgIcon="quill"></mat-icon>
      </div>
      <div class="header-button" (click)="onClickDelete()">
        <mat-icon svgIcon="delete"></mat-icon>
      </div>
    </ng-template>
  </div>
  <div *ngIf="activeNoteEntryId" class="note-body">
    <lxs-note-editor [id]="activeNoteEntryId"></lxs-note-editor>
  </div>
</lxs-split-panels>
