@import 'src/styles/colors';
@import 'src/styles/buttons';
@import 'src/styles/card';

.container {
  display: block;
  align-items: center;
  justify-content: center;
  width: 24rem;

  & p {
    text-align: center;
  }
}

.accept {
  @include button-submit();
}
