<div class="container">
  <p>
    It looks like it's your first time here. Welcome to Dungeon Tools!
  </p>
  <p>
    Let's get a few things out of the way first. No cookies here, but please note that
    Dungeon Tools uses local storage in your browser in order to work. You may read more
    about Dungeon Tools, our Privacy Policy, and our Terms of Service
    <a routerLink="/about">here</a>.
  </p>
  <p>
    If you have any concerns about the terms or operation of Dungeon Tools, do not continue.
    Try <a href="https://www.google.com/search?q=kittens&tbm=isch">this website</a> instead.
  </p>
  <div class="accept" (click)="onAcceptClick()">
    <p>
      By continuing, you agree to the terms, and are ready to use Dungeon Tools!
    </p>
  </div>
</div>
