@use 'src/styles/colors' as *;
@use 'src/styles/buttons' as *;

.container {
  display: block;
  align-items: center;
  justify-content: center;
  width: 24rem;

  & p {
    text-align: center;
  }
}

.accept {
  @include button-submit();
}
