<header class="side-header">
  <div class="side-title">
    {{ label }}
  </div>
  <div class="side-button" (click)="onClickAdd()">
    <mat-icon svgIcon="add"></mat-icon>
  </div>
</header>
<ng-container *ngIf="entries">
  <div *ngFor="let entry of entries; index as i; trackBy: trackById" class="side-entry" [ngClass]="{ 'side-entry-active': entry.id === selectedEntryId }" (click)="onClickEntry(entry)">
    <div class="side-entry-content">
      <div class="side-entry-mover-buttons">
        <div class="side-entry-mover-button" (click)="onClickMoveUp($event, entry, i)">
          <mat-icon svgIcon="collapse"></mat-icon>
        </div>
        <div class="side-entry-mover-button" (click)="onClickMoveDown($event, entry, i)">
          <mat-icon svgIcon="expand"></mat-icon>
        </div>
      </div>
      <div class="side-entry-label">
        {{ entry.name }}
      </div>
      <div class="side-entry-selector">
        <mat-icon svgIcon="forward"></mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="entries.length === 0" class="side-no-content">
    No {{ label }}
  </div>
</ng-container>
