@import 'src/styles/buttons';

.side {
  &-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.0625rem solid $side-menu-border;
    height: 3rem;
    background-color: $side-menu-header;
    color: $text;
  }

  &-title {
    flex: 1;
    text-align: center;
    color: $text;
  }

  &-button {
    @include button-icon(3rem, 3rem);

    > img {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:active {
      background-color: $side-menu-header-highlight;
    }
  }

  &-entry {
    // margin: 0 -1rem;
    padding: 0 1rem;
    height: 3rem;
    color: $text;

    &:hover {
      background-color: $background;
      cursor: pointer;
    }

    &-active {
      background-color: $side-menu-selected;
      color: $bar-primary;

      &:hover {
        background-color: $side-menu-selected;
        color: $bar-primary;
      }

      .side-entry-mover-button > mat-icon {
        color: $bar-primary;
      }

      .side-entry-mover-button:hover > mat-icon {
        color: $bar-primary-highlight;
      }

      .side-entry-selector > mat-icon {
        color: $bar-primary;
      }
    }

    &-content {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      border-bottom: 0.0625rem solid $side-menu-border;
      height: calc(100% - 0.0625rem);
    }

    &-mover-buttons {
      padding-right: 0.5rem;
    }

    &-mover-button {
      @include button-icon(1.5rem, 1.5rem);
    }

    &-label {
      flex: 1;
    }

    &-selector {
      display: flex;
      justify-content: center;
      align-items: center;

      > mat-icon {
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        color: $text;
      }
    }
  }

  &-no-content {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: $text;
  }
}
