<header class="side-header">
  <div *ngIf="showHelp" class="side-button" (click)="onClickHelp()">
    <mat-icon svgIcon="question"></mat-icon>
  </div>
  <div class="side-title">
    {{ label }}
  </div>
  <div class="side-button" (click)="onClickAdd()">
    <mat-icon svgIcon="add"></mat-icon>
  </div>
</header>
<div *ngIf="entries" class="side-entries" cdkDropList (cdkDropListDropped)="onDrag($event)">
  <div *ngFor="let entry of entries; trackBy: trackById"
    class="side-entry" [ngClass]="{ 'side-entry-active': entry.id === selectedEntryId }"
    cdkDrag cdkDragLockAxis="y"
    (click)="onClickEntry(entry)"
  >
    <div class="side-entry-content">
      <div class="side-entry-mover-button" cdkDragHandle>
        <mat-icon svgIcon="handle"></mat-icon>
      </div>
      <div class="side-entry-label">
        {{ entry.name }}
      </div>
      <div class="side-entry-selector">
        <mat-icon svgIcon="forward"></mat-icon>
      </div>
    </div>
    <div *cdkDragPreview class="side-entry-drag-preview">
      {{ entry.name }}
    </div>
    <div *cdkDragPlaceholder class="side-entry-drag-placeholder"></div>
  </div>
  <div *ngIf="entries.length === 0" class="side-no-content">
    No {{ label }}
  </div>
</div>
