html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

main {
  padding: 1rem;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}
