// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.
@import 'src/styles/colors';
@import 'src/styles/card';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// All material colors were moved to styles/colors.scss
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $primary;
  font-family: Helvetica, sans-serif;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

main {
  padding: 1rem;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

// Material Overrides

.lxs-dialog-card {
  .mat-dialog-container {
    @include card();
    box-shadow: 0 0 1.5rem $overlay-shadow;
  }
}
