<lxs-side-header>
  <lxs-action lxsSideHeaderLeft *ngIf="showHelp" icon="question" label="Help" (action)="helpEvent.emit()"></lxs-action>
  <ng-template lxsSideHeaderLabel>
    {{ label }}
  </ng-template>
  <lxs-action lxsSideHeaderRight icon="add" label="Add" (action)="addEvent.emit()"></lxs-action>
</lxs-side-header>
<div *ngIf="entries" class="side-entries" cdkDropList (cdkDropListDropped)="onDrag($event)">
  <div *ngFor="let entry of entries; trackBy: trackById"
    class="side-entry" [ngClass]="{ 'side-entry-active': entry.id === selectedEntryId }"
    cdkDrag cdkDragLockAxis="y"
    (click)="selectEvent.emit(entry.id)"
  >
    <div class="side-entry-content">
      <div class="side-entry-mover-button" cdkDragHandle>
        <mat-icon svgIcon="handle"></mat-icon>
      </div>
      <div class="side-entry-label">
        {{ entry.name }}
      </div>
      <div class="side-entry-selector">
        <mat-icon svgIcon="forward"></mat-icon>
      </div>
    </div>
    <div *cdkDragPreview class="side-entry-drag-preview">
      {{ entry.name }}
    </div>
    <div *cdkDragPlaceholder class="side-entry-drag-placeholder"></div>
  </div>
  <div *ngIf="entries.length === 0" class="side-no-content">
    No {{ label }}
  </div>
</div>
