<header class="bar">
  <div class="bar-title">
    Settings
  </div>
  <div class="bar-spacer"></div>
  <div class="bar-close" (click)="onClickClose()">
    X
  </div>
</header>
<div class="content">
  <h2>Export Data</h2>
  <p>Export all Dungeon Tools data to a downloaded file for safekeeping.</p>
  <div class="action">
    <div class="action-button" (click)="onClickExport()">Export</div>
  </div>
  <h2>Import Data</h2>
  <p>Import and restore Dungeon Tools data from a backup file.</p>
  <div class="action">
    <div class="action-button" (click)="onClickImport()">Import</div>
  </div>
</div>
